/* main color FFFFFF */
/* text color 212121 */
/* paragraph color 757575 */
/* side color #2196F3 */

:root {
 --primary-text-color: #2196F3;
 --title-text-color: #212121;
 --accent-color: #757575;
 --title-accent-color:#ffff;

}

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
    display: flex;
}

.main-container {
width: 1200px;
margin-left: auto;
margin-right: auto;
}

.head-cont {
    display: flex;
    align-items: center;
}

.main-nav {
  
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo {
   
   color:var(--title-text-color);
   font-family: 'Raleway';
   font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.first-logo{
    color: var(--primary-text-color);
    font-family: 'Raleway';
}

.nav-tools {
margin-left: 95px;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    
}


.nav-objects:hover, .nav-objects:focus {
    color: var(--primary-text-color);
    
}
.nav-objects {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.items:not(:last-child) {
margin-right: 50px;
}

.head-cont {
margin-left: auto;
    display: flex;
}
.cont-items:not(:first-child) {
    margin-left: 50px;
}

.contacts-first:hover, .contacts-first:focus {
    color: var(--primary-text-color);
}

.contacts-first {
    color: var(--accent-color);
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

}

.efficiency-section {

    text-align: center;
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.efficiency {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color:#FFFFFF;
}

.button-hero:hover, .button:focus {
    background-color:var(--title-accent-color);
    color:var(--primary-text-color) ;
}

.button-hero{
    margin-top: 30px;
    border: none;
    border-radius: 4px;
padding: 10px 32px;
 margin-left: auto;
 margin-right: auto;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
    background-color: var(--primary-text-color);
    color: #FFFFFF;
    
}

.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.ab-op {
    display: flex;

}

.ab-list {
    width: 270px;
}

.ab-list:not(:last-child) {
margin-right: 30px; 
}

.ability-option{
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.ability-text {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.responsibilities, .team {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 0px;
    margin-top: 0px;
}


.main-cart {
    padding-bottom: 94px;
margin-top: 50px;
    display: flex;
}

.photo-list {
margin-right: 30px;   
}

.section-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.staff {

    margin-top: 50px;
    display: flex;
   
}

.pic-staff:not(:last-child) {

    margin-right: 30px;
}

.participant {
   color: var(--title-text-color);
   font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.part-aby {
    color: var(--accent-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.logo-footer {
    color: #FFFFFF;
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.adress-footer {
    margin-top: 20px;
}
.contact-footer {
    background-color: #2F303A;
   padding-top: 60px;
   padding-bottom: 111px;
}

.adress {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.contact-li{
    margin-top: 9px;
}

.contact-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* portfolio  */
/* main color FFFFFF */
/* text color 212121 */
/* paragraph color 757575 */
/* side color #2196F3 */

/* header portfolio */
.port-gallery {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-container {
    margin-left: 215px;
    padding-bottom: 34px;
}

   .portfolio-button a:hover, .portfolio-button a:focus {
  color: #ffff;
    background-color: var(--primary-text-color);
   }
   
   .portfolio-button {
  display: flex;
   }
.port-button:not(:last-child){
margin-right: 10px;
    
}
.portfolio-button {
padding-bottom: 34px;
}

   .portfolio-button a{

    background-color:#F5F4FA;
    color: #212121;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    border-radius: 4px;
padding: 10px 32px;
 margin-left: auto;
 margin-right: auto;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
   }

   .portfolio-gallery {
   
   }

.portfolio-gallery h3{
    color:var(--title-text-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}

.portfolio-gallery p{
    color: var(--accent-color);
    font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
}

.div-cont {
    display: flex;
}

.li-port {

    margin-right: 30px;
}



  

   


